@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  box-sizing: border-box;
  overflow-x: hidden;
}
textarea{
  resize: none;
}
@media (max-width: "320px"){
  h1{
    font-size: 20px;
  }
}
@media (max-width: "768px"){
  h1{
    font-size: 48px;
  }
}